@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #dab6ca;
  --primary-color-dark: #c48ea4;
  --secondary-color: #ff8aa8;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #f8eaef;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color:#f8eaef;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  width: 100%;
  position :sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display:flex;
  align-items: center;
  justify-content : space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}



ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.Introduction {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 90vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
  font-size: larger;
  text-align:justify;
  
}

.description span {
    font-weight: 700;
}

.action__btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.action__btns button {
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}

.card {
  width: 325px;
  background-color:#ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card img{
  width:100%;
  height: auto;
  object-fit: cover;
}

.card-content{
  padding: 20px;
}

.card-content h1{
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content p{
  font-size: 15px;
  color: #6b7280;
  margin-bottom: 20px;
  text-align: justify;
}


.ITBmg {
  margin-top: 5px;
  place-items: center;
}

.textITB {
  text-align: center;
  margin: 5px;
  
}


@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin-left: auto;
  }
}